<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Datatable CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>

    <title>Backup & Restore</title>
  </head>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">BackupRestore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dbtable/">Backup/Restore</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <body>
    <div class="container my-4">
      <div class="table-responsive table-bordered">
            <table id="db_backup_and_restore" class="table align-items-center table-flush table-sm" style="height: 100%">
              <thead class="text-center">
                <tr>
                  <th scope="col">Sr. No.</th>
                  <th scope="col">User name</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              {% if not all_users %}
              <tr>
                <th></th>
                <td></td>
                <td>
                  No data available in table.
                </td>
                <td></td>
              </tr>
              {% else %}
              <tbody class="text-center">
                {% for user in all_users %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>
                    {{user.username}}
                  </td>
                  <td>
                    {{user.first_name|default:'--'}}
                  </td>
                  <td>
                    {{user.last_name|default:'--'}}
                  </td>
                  <td>
                    {{user.email|default:'--'}}
                  </td>
                  <td>
                    {{user.date_joined}}
                  </td>
                  <td>
                    <!-- <a href="/edit/contact/'+str(item['id'])+'"><i class="fa fa-edit mx-2" title="Edit Client"></i></a> -->
                    <div class="row">
                      <div class="col-md-6">
                        <a href="javascript:void(0);" class="btn btn-primary btn-sm user_status" id="user_backup'{{user.pk}}'" onclick="return user_backup('{{user.pk}}');">Backup</a>
                      </div>
                      <div class="col-md-6">
                        <a href="javascript:void(0);" class="btn btn-success btn-sm user_status" id="user_restore_backup'{{user.pk}}'" onclick="return user_restore_backup('{{user.pk}}');">Restore</a>
                      </div>
                    </div>
                  </td>
                  
                </tr>
                {% endfor %}

                {% endif %}

          
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Datatable JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>

    <script src="/static/js/index.js"></script>
  </body>
</html>