{% extends "base.html" %}

{% block style %}
<style>
    p {
        margin-left: 50px;
    }
</style>
{% endblock %}

{% block content %}

<div class="container bg-light mt-5">
  <div class="row">
    <div class="col-6">
      <img src="/media/{{course.course_image}}" class="card-img-top p-5 img-fluid img-centered img-responsive" style="height:300px;width:400px">

      <h3 class="ml-5">{{course.course_name}}</h3>

      <p class="ml-5">{{course.course_description | safe}}</p>
      <span class="ml-5">Ratings: <span class="text-warning">4.3 <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span></span>
  </div>
  <div class="col-6 mt-5">
    <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
      <div class="card-header font-weight-bold text-success">What you'll learn</div>
      <div class="card-body">
        <p class="card-text">Identify Mark's style of writing, what he chose to emphasise, and why he arranged his material in the way that he did.</p>
        <p class="card-text">Interpret what makes Mark unique from the other Gospels.</p>
        <p class="card-text">Discover how Mark portrays Jesus as Messiah and Son of God.</p>
        <p class="card-text">Identify Mark's style of writing, what he chose to emphasise, and why he arranged his material in the way that he did..</p>
      </div>
    </div>
  </div>
</div>


        {% for course_module in course_modules %}
    <div class="accordion mt-3" id="accordion-{{forloop.counter}}">

        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" 
              data-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
               {{course_module.course_module_name}} 
               {% if course_module.can_view %}
               <span class="badge badge-success">Can Watch</span>
               {% else %}
               <span class="badge badge-info">Become pro to watch</span>
                {% endif %}


              </button>
            </h2>
          </div>
      
          <div id="collapse-{{forloop.counter}}" class="collapse show" 
          aria-labelledby="headingOne" data-parent="#accordion-{{forloop.counter}}">
            <div class="card-body">
                {{course_module.course_description|safe}}
                {% if course_module.can_view %}
                <div class="embed-responsive embed-responsive-16by9" style="height:200px;width:300px">
                    <iframe class="embed-responsive-item" src="{{course_module.video_url}}" ></iframe>
                  </div>
                  {% endif %}
            </div>
          </div>
        </div>
    </div>

        {% endfor %}

    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-primary btn-lg btn-block my-3">Back</a>

</div>

{% endblock %}