<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Student Information Search</title>
  </head>
  

	<div class="container w-50 mx-auto mt-2">
		<h1 class="text-center">Search Student's Information</h1>
		<form method="post" action="/search/">{% csrf_token %}
			<div class="form-group row mt-4 ml-5">
			    <div class="col-lg-8">
			      <input type="text" class="form-control" id="search" placeholder="Search" name="search">
			    </div>
			    <label for="search" class="col-sm-2">
					<button type="submit" class="btn btn-success">Search</button>
				</label>
			</div>
			 </div>
		</form>
	</div>

	<div class="form-group w-50 mx-auto">
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<div class="alert alert-success alert-dismissible" role="alert">
						<strong>{{message}}</strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    	<span aria-hidden="true">&times;</span>
					  	</button>
						</div>
				{% endfor %}
			</ul>
			{% endif %}
		</div>

	<div class="container mt-5">
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Email</th>
		      <th scope="col">City</th>
		      <th scope="col">Marks</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for i in data %}
		    <tr>
		      <td>{{i.name}}</td>
		      <td>{{i.emailid}}</td>
		      <td>{{i.city}}</td>
		      <td>{{i.marks}}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>