{% load custom_filters %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Books</title>
  </head>
  <body>
    <div class="container">

      {% if books %}
      <table class="table">
      <thead class="text-center">
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Book Name</th>
          <th scope="col">Book Price(₹)</th>
          <th scope="col">Publisher Name</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for book in books %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ book.name }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.publisher }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% elif stores %}
    <table class="table">
      <thead class="text-center">
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Store Name</th>
          <th scope="col">Book</th>
          <!-- <th scope="col">Publisher Name</th> -->
        </tr>
      </thead>
      <tbody class="text-center">
        {% for store in stores %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ store.name }}</td>
          <td>{{ store.books|get_list_value }}</td>
          <!-- <td>{{ store.publisher }}</td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <table class="table">
      <thead class="text-center">
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Signature</th>
          <th scope="col">Adhar Number</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for person in persons %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ person.name }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.mobile }}</td>
          <td>{{ person.signature }}</td>
          <td>{{ person.adhar }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>